<div class="app">
  <header>
    <h1>Github Explorer</h1>
    <nav>
      {{#link-to "users"}}
        Users
      {{/link-to}}
      {{#link-to "about"}}
        About
      {{/link-to}}
    </nav>
  </header>
  <div class="main">
   {{outlet}}
  </div>
</div>